@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bokor&family=Bungee&family=Fjalla+One&family=Koulen&family=Moul&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rye&display=swap');
body{
    width: 100%;
    height: auto;
}

.navbar-brand{
    font-family: "Bungee", sans-serif;
}
.offcanvas-title{
    font-family: "Bungee", sans-serif;
}
#cart_count{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    right: -10px;
}
